.item {
  display: flex;
  gap: 10px;
  align-items: center;
  box-shadow: 0px 0px 4px 2px #808080;
  padding: 20px;
  line-height: 24px;
}

.wrapper {
  width: 200px;
  gap: 10px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.avatar {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  background-color: #f33f3f;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
