.moviesWrapper {
  display: flex;
  gap: 30px 20px;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  max-width: 1440px;
  margin: 0 auto;
}

.movieCard {
  width: calc((100% - 60px) / 4);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  font-size: 10px;
}
